<div class="kt-portlet">
		<div class="kt-portlet__head">
	     <div class="kt-portlet__head-label">
		    <h3 class="kt-portlet__head-title"><span>Edit Owner</span></h3>
		 </div>
		 <div class="kt-portlet__head-toolbar">
		  <button  routerLink="/demo1/users/" mat-raised-button color="yellow">Back To Owners</button>
		 </div>
	</div>
		<div class="kt-portlet__body">
			<div class="row">
					<div class="col-lg-4">
					
					 <div class="card  user-profile" >

						  <div class="card-body text-center">
							  <div class="user-image ">
								  <img class="rounded-circle img-thumbnail" src="assets/media/users/user-dummy.png"/>
								  <label  for="user-img"><i class="la la-plus"></i></label>
								  <input  id="user-img" name="user-img" style="display:none" type="file">
							  </div>
							<h4 class="card-title" >John Doe</h4>
							<p class="card-content" >johndoe@gmail.com</p>
						  </div>
				</div>
					</div>
					<div class="col-lg-8">
					<h2 class="heading"> Basic Info</h2>
					<div class="row">
					  <div class="col-md-6">
					  <mat-form-field>
					  <input type="text" matInput placeholder="First Name" value="">
					 </mat-form-field>
					 </div>
					  <div class="col-md-6">
					  <mat-form-field>
					  <input type="text" matInput placeholder="Last Name" value="">
					 </mat-form-field>
					 </div>
					  <div class="col-md-6">
					   <mat-form-field>
					  <input type="email" matInput placeholder="Email Address" value="">				
					 </mat-form-field>
					 </div>
					 <div class="col-md-6">
					 <mat-form-field>
					  <input type="text" matInput placeholder="Phone No" value="">
					 </mat-form-field>
					</div>
				  <div class="col-md-6">
					   <mat-form-field>
					  <input type="text" matInput placeholder="State" value="">				
					 </mat-form-field>
					 </div>
					  <div class="col-md-6">
					   <mat-form-field>
					  <input type="text" matInput placeholder="City" value="">				
					 </mat-form-field>
					 </div>
					  <div class="col-md-6">
					   <mat-form-field>
							<mat-select placeholder="Select Country">
								<mat-option value="option1">India</mat-option>
								<mat-option value="option2">USA</mat-option>
								<mat-option value="option3">Canada</mat-option>
								<mat-option value="option4">Australia</mat-option>
							</mat-select>		  
					   </mat-form-field>
					 </div>
					 <div class="col-md-6">
					   <mat-form-field>
					  <input type="text" matInput placeholder="Zipcode" value="">				
					 </mat-form-field>
					 </div>
				 <div class="col-md-12 mt-3">
			 <button  mat-raised-button color="pink">Save</button>
			</div>
				 </div>
				 </div>
				 </div>
				 <hr class="mt-5">
				<div class="row mt-5">
					<div class="col-lg-2">
						<div class="property_img">
							<img class="rounded-circle img-thumbnail" src="assets/media/bg/bg-4.jpg"/>
							<label  for="prpty-img"><i class="la la-pencil"></i></label>
							<input  id="prpty-img" name="user-img" style="display:none" type="file">
						</div>
					</div>	

					<div class="col-lg-6">
					<h2 class="heading"> Property Info</h2>
					<div class="row">
					
					
					  <div class="col-md-6">
					  <mat-form-field>
					  <input type="text" matInput placeholder="Property Name" value="">
					 </mat-form-field>
					 </div>
					  <div class="col-md-6">
					  <mat-form-field>
					  <input type="text" matInput placeholder="Area" value="">
					 </mat-form-field>
					 </div>
					  <div class="col-md-6">
					  <mat-form-field>
					  <input type="text" matInput placeholder="State" value="">				
					 </mat-form-field>
					 </div>
					  <div class="col-md-6">
					   <mat-form-field>
					  <input type="text" matInput placeholder="City" value="">				
					 </mat-form-field>
					 </div>
					  <div class="col-md-6">
					   <mat-form-field>
					  <input type="text" matInput placeholder="Zipcode" value="">				
					 </mat-form-field>
					 </div>
					  <div class="col-md-6">
					  <mat-form-field>
					  <input type="text" matInput placeholder="Address" value="">
					 </mat-form-field>
					 </div>
					  <div class="col-md-12">
					   <mat-form-field>
					  <textarea type="email" matInput placeholder="Property Description" value=""></textarea>				
					 </mat-form-field>
					 </div>
					
				 <div class="col-md-12 mt-3">
			 <button  mat-raised-button color="pink">Save</button>
			</div>
				 </div>
				 </div>
				 <div class="col-lg-4">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.6466052520286!2d-75.18822868526529!3d40.879629035281475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c4649d878f143d%3A0xe0a8d79a6023e2b0!2s132%20W%20Central%20Ave%2C%20Bangor%2C%20PA%2018013%2C%20USA!5e0!3m2!1sen!2sin!4v1577404655822!5m2!1sen!2sin" width="100%" height="150" frameborder="0" style="border:0; min-height:300px" allowfullscreen=""></iframe>
				   </div>


				 </div>

</div> 
